<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
  <label>Name: </label>
  <input id="name" type="text" name="name">
  <br>
  <label>Email: </label>
  <input id="email" type="email" name="email">
  <br>
  <label>Password: </label>
  <input id="password" type="password" name="password">
  <br>
  <input id="Sign Up" type="submit" value="Sign Up">  
</form>